html 
    head 
        title="Pug - Productos"
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
        style.
            body {
                background-color: #E9ECEF
            }
            .table td,
            .table th {
                vertical-align: middle;
            }
            h1,
            h2 {
                color: blue;
            }

            hr {
                background-color: #ddd;
            }
            .jumbotron {
                min-height: 100vh;
            }

            img {
                max-height: 50px;
            }


    body 
        h1="Vista de productos"
        br
        .container.mt-3
            if prodExist 
                .table-responsive
                    table(class="table table-dark")
                        tr 
                            th Nombre
                            th Precio
                            th Foto
                        each prod in products 
                            tr
                                td=prod.title 
                                td=prod.price 
                                td 
                                    img(src=prod.thumbnail, alt="")
            else 
                h2="No se encuentran productos"
    
    a(href="/" type="button" class="btn btn-primary") Cargar un nuevo producto